# Python caches
**/__pycache__
**/.pytest_cache

# Poetry build files
poetry.lock
dist/

# Coverage report
cov_report/
.coverage*

# Virtual environment
venv

# Documentation
doc/*
!doc/*.tex

# Misc
*.pdf
.idea/