# Python caches
**/__pycache__
**/.pytest_cache

# Poetry build files
dist/

# Coverage report
cov_report/
.coverage*
!.coveragerc

# Virtual environment
venv

# Documentation
doc/*
!doc/*.tex

# Misc
*.pdf
.idea/
.mutmut-cache